<div class='row'>
  <div class='col-lg-12'>
    <%= new_post_button(@conn) %>

    <%= for post <- @posts do %>
      <h3><%= show_post_path(@conn, post) %></h3>
      <p><%= post.short_description %></p>
      <hr>
    <% end %>
  </div>
</div>
